<!-- Header -->
<div id="header-wrapper" class="title-livres">
  <span class="logo pull-left">Bibliothèque en ligne</span>
  <span class="tagline pull-left">1 Million de livres pour vous</span>

  <div class="nav-wrapper pull-right">
    <ul class="nav nav-pills">
      <li class="active"><a routerLink="">Livres</a></li>
      <li><a routerLink="panier">Panier</a></li>
    </ul>
  </div>
</div>

<!-- Afficher le contenu de la page livres dans la page principale -->
<!--<app-livres></app-livres>-->
<router-outlet></router-outlet>
