//
// == COLORS for ANF
// Named from https://www.color-blindness.com/color-name-hue/
// and ranked with Hue from same site
//

// Black
$black-0: #000;
$black: #111;

// Blue
$allports: #19477c;
$light-cerulean: #007faa;
$cerulean-blue: #256cb9;
$dark-cerulean: #0f3c78;
$endeavour: #245a99;
$malibu: #66afe9;
$sapphire: #042c60;
$smalt: #004990;

// Brown

// Green

// Grey
$raven: #6e6f71;
$dim-gray: #656565;
$rhino: #414856;
$very-light-grey: #ccc;

// Orange
$harley-davidson-orange: #d93e18;
$cinnabar: #e95935;

// Red
$fire-brick: #b4361d;
$pale-rose: #f2dede;
$red: #f00;
$roof-terracotta: #a94442;

// Violet

// White
$white-smoke: #f5f5f5;
$white-smoke-2: #eee;
$white: #fff;
$white-2: #fafafa;

// Yellow
